body.bg-image {
    background-image: url('../Images/bg-home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

td.spacing {

    padding-left: 15px;

}
